// Обязательные импорты в правильном порядке
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// Определение типа цветового режима
$color-mode-type: "data";

:root{
  --c-pink-rgb: 192, 123, 246;
  --c-pink: rgb(var(--c-pink-rgb));
  --bs-border-width: 2px
}

// Кастомизация dark mode
@include color-mode(dark) {
  --c-pink-rgb: 209, 159, 248;
  --bs-light-rgb: 55, 55, 55;

  .btn-light {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: rgb(var(--bs-light-rgb));
    --bs-btn-border-color: rgb(var(--bs-light-rgb));
    --bs-btn-hover-bg: #434950;
    --bs-btn-hover-color: #ebe7d9;
    --bs-btn-hover-border-color: #434950;
  }
}

// Кастомизация чекбоксов
.form-check-input{
  cursor: pointer;

  &:checked {
    background-color: var(--c-pink);
    border-color: var(--c-pink);
  }
}

label{
  cursor: pointer;
}

.form-control:focus, .form-check-input:focus, .btn-light:focus{
  border-color: var(--c-pink);
  box-shadow: 0 0 0 .25rem rgba(var(--c-pink-rgb), 0.2);
}