.counter-card{

  &:after{
    content: '';
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33.5%;
    z-index: 1;
  }
}